<nz-layout>
    <nz-header style="color: #fff; padding:0;">
       <div style="float:left;margin-right:30px;">
       <img height="50" src="../assets/logo.png" /><span class="logo-title">JOB SETS</span>
       </div> 
       <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
       <span style="float:right"> <nz-avatar  nzIcon="anticon anticon-user" style="background-color:#db031b;" [nzShape]="'square'"></nz-avatar>
       <a style="margin-right:20px; font-size:12px;" (click)="loginOut()"> Login Out</a></span>
    </nz-header>
    <nz-layout>
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" style="background: #fff">
            <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
                <li nz-submenu>
                    <span title><i class="anticon anticon-user"></i><span class="nav-text">Schedules</span></span>
                    <ul>
                        <li nz-menu-item>All Schedules</li>
                        <li nz-menu-item>My Schedules</li>
                    </ul>
                </li>
                <li nz-submenu>
                    <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
                    <ul>
                        <li nz-menu-item>Team 1</li>
                        <li nz-menu-item>Team 2</li>
                    </ul>
                </li>
                <li nz-submenu>
                        <span title><i class="anticon anticon-team"></i><span class="nav-text">Jobs</span></span>
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                <li nz-menu-item><span><i class="anticon anticon-setting"></i><span class="nav-text">Settings</span></span></li>
            </ul>
        </nz-sider>

        <nz-content style="margin:0 16px;">
            <nz-breadcrumb style="margin:16px 0;">
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div style="padding:24px; background: #fff; min-height: 360px;">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
<ng-template #trigger>
    <i class="anticon anticon-up"></i>
</ng-template>