<form nz-form [formGroup]="validateForm" class="login-form">
	<nz-form-item>
		<nz-form-control>
			<nz-input-group nzPrefixIcon="anticon anticon-user">
				<input type="text" nz-input formControlName="projectName" placeholder="Project Name">
			</nz-input-group>
			<nz-form-explain *ngIf="validateForm.get('projectName').dirty&&validateForm.get('projectName').hasError('required')">Project
				Name is required!</nz-form-explain>
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-control>
			<nz-input-group >
				<textarea row="4" nz-input formControlName="description" placeholder="Description" formControlName="description" ></textarea>
			</nz-input-group>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-control>
			<nz-input-group >
				<input type="password" nz-input formControlName="passwordConfirm" placeholder="Password" formControlName="passwordConfirm">
			</nz-input-group>
			<nz-form-explain *ngIf="validateForm.get('passwordConfirm').dirty&&validateForm.get('passwordConfirm').hasError('required')">Password
				is required!</nz-form-explain>
		</nz-form-control>
	</nz-form-item>
</form>